@model Thomas_Gaming_Club.Models.Contact

@{
    ViewBag.Title = "About";
    //Layout = "_Layout";
}


<div class="main-content">

    <h2>Meet the Officers of Thomas Gaming Club!</h2>
            
</div>

