@{
    ViewBag.Title = "Events";
}

@section Styles {
    <link href="@Url.Content("~/Content/Events.css")" rel="stylesheet" type="text/css" />
}

    <div class="main-content">

        <div class="event-img-container">
            <div class="event-img-banner">
                <img class="start-img" id="mortalk" src="~/EventImages/MortalK-Event.jpg" />
                <img id="elife" src="~/EventImages/Extra-Life.jpg" />
                <img id="mario" src="~/EventImages/Mario-Event.jpg" />
                <img id="retro" src="~/EventImages/Retro-Event.jpg" />
                <img id="rocket" src="~/EventImages/rocket-league.jpg" />
                <img id="smash" src="~/EventImages/Smash-Event.jpg" />
                <img id="mortalk" src="~/EventImages/MortalK-Event.jpg" />
                <img id="elife" src="~/EventImages/Extra-Life.jpg" />
                <img id="mario" src="~/EventImages/Mario-Event.jpg" />
                <img id="retro" src="~/EventImages/Retro-Event.jpg" />
            </div>
        </div>

        <h2 id="event-heading">Engaging Events, Healthy Competition</h2>
        <div class="accent-bar"></div>
        <div class="event-overview">
            <p>
                The slides above provide a great example of the types of events that the club holds every semester.
                They include tournaments of various games that were or are popular amoung club members, as well as,
                Speedruns, Retro Gaming Nights, Extra Life Charity Events, Casual Hangouts, and Gaming Trivia Nights. The club welcomes feedback
                with suggestions for new and exciting events, and have tried suggestions like board/card game nights and PC gaming branches.
            </p>
        </div>

        <div class="events-container">

            <div class="event">
                <div class="event-pic">
                    <img id="tournament" src="~/EventImages/Black-Ops.jpg" />
                </div>

                <div class="event-info">
                    <h3 id="event-headings">Tournaments</h3>
                    <p>
                        Three to four all Thomas student inclusive tournaments are held each semester. The club provides the means to participate, allowing for any Thomas student
                        join the tournament, whether they have their own gaming resources or not. Normally, the club has gift card prizes of the winner's choice for the top three places.
                        Additionally, the club will provide a certain amount of food and drinks to accomodate the crowd. The tournaments are often comprised of popular multiplayer games influenced
                        by the desires/suggestions of the current members. Alternative tournaments have been based on highest scoring players and speed run trials.
                    </p>
                </div>
            </div>

            <div class="event">
                <div class="event-pic">
                    <img id="extralife" src="~/EventImages/Extra-Life.jpg" />
                </div>

                <div class="event-info">
                    <h3 id="event-headings">Extra Life</h3>
                    <p>
                        Currently, the Gaming Club has organized two Extra Life annual charity nights and plans to continue doing so into the future.
                        The club has an Extra Life Account and participates in the regular activities of the global Extra Life 24 hour event.
                        Throughout the 24 hrs, the club holds challenges and game code raffles for those who are still awake. Food and drinks are also provided at
                        certain, appropriate time intervals.
                    </p>
                </div>
            </div>

            <div class="event">
                <div class="event-pic">
                    <img id="hangout" src="~/EventImages/Hangout.jpg" />
                </div>

                <div class="event-info">
                    <h3 id="event-headings">Hangouts</h3>
                    <p>
                        A more relaxed and casual event the club hosts on a weekly basis is the Gaming Hangout. Just about every Saturday of the academic calendar,
                        the club sets up in the Fireplace Area of the Spann Student Commons to game with each other for about 3 hours. We make the club's resources available
                        and encourage the sharing of the officer's and member's games as well. There are no prizes or food provided for these laidback affairs; however,
                        there may be challenges for members to complete and then gain rewards points based on their performance.
                    </p>
                </div>
            </div>

            <div class="event">
                <div class="event-pic">
                    <img id="retro-night" src="~/EventImages/Retro-Night.jpg" />
                </div>

                <div class="event-info">
                    <h3 id="event-headings">Retro Nights</h3>
                    <p>
                        Zachary Fitzpatrick
                    </p>
                </div>
            </div>

            <div class="event">
                <div class="event-pic">
                    <img id="rewards" src="~/EventImages/Reward-System.jpg" />
                </div>

                <div class="event-info">
                    <h3 id="event-headings">Reward Systems</h3>
                    <p>

                    </p>
                </div>
            </div>

        </div>

    </div>
