@{
    ViewBag.Title = "Home";
}
@section Styles {
    <link href="@Url.Content("~/Content/homePage.css")" rel="stylesheet" type="text/css" />
}

<div class="main-content">

    <div style="display:table; width: 100%;" class="main-pictures">
        <div style="position: relative; text-align: center; float:left; display: table-cell; width: 50%; max-width: 50%;" class="left-pic">
            <img style="width: 100%; border-bottom: 4px double goldenrod;" id="fire-pic" src="~/Images/com-fire.png" />
            <div style="position: absolute; bottom: 16px; left: 16px; color: goldenrod;
	    text-shadow: 3px 3px 6px #666666; font-size: 16pt;">Our Usual Spot</div>
        </div>

        <div style="position: relative; text-align: center; float:right; display: table-cell; width: 50%; max-width: 50%;" class="right-pic">
            <img style="width: 100%; border-bottom: 4px double goldenrod;" id="senate-pic" src="~/Images/com-senate.png" />
            <div style="position: absolute; bottom: 16px; left: 16px; color: goldenrod;
	    text-shadow: 3px 3px 6px #666666; font-size: 16pt;">Our Meeting Room</div>
        </div>
    </div>

    <div style="margin-left: 20px; padding-bottom: 5px; border-bottom: 5px inset firebrick; border-radius: 3px; width: 58%;">
        <h2>Welcome to Thomas College Gaming Club!</h2>
    </div>

    <p style="margin: 20px 10px; margin-bottom: 30px; font-size: 1.5vw; text-align: justify;">
        Thank you for checking out our website. Thomas College Gaming Club is a social-centric entertainment club on Thomas College campus.
        The club is run by student officers and advised by Jim Delorie, Director of Recreation and Intramural Programs. The club exists to provide various
        social settings that highlight pop culture in the areas of gaming and geekery in order to promote and foster healthy people skills and friendly competitive spirit.
        Some of the ways we do this are through tournaments, casual hangouts, engaging meetings, special focus nights, and Extra Life.
    </p>

    <div style="margin: 0px 70px; border-bottom: 3px double goldenrod;"></div>

    <p style="margin: 30px 10px; font-size: 1.5vw; text-align: justify;">
        Looking to join the club? It is super easy, just reach out to any of our officers and you will be added to our mailing and member list.
        You can send a message with feedback/suggestions to any of the three officers @Html.ActionLink("here.", "Contact") There are no due fees for our members; the only stipulation
        is that you are a full-time student of Thomas College. After signup, watch your Thomas inbox for emails from any of us officers about our events or also
        the campus tvs and event boards for information as well.
    </p>

    <div style="margin: 0px 140px; border-bottom: 3px double firebrick;"></div>

    <p style="margin: 30px 10px; font-size: 1.5vw; text-align: justify;">
        The club is open to also working with our campus organizations to hold joint events.
        In the past, Thomas Gaming Club has done Retro Gaming Nights with Resident Life and tournaments at CAB Commons Takeover.
        General club events strive to provide the ability for any member or Thomas student to join us, play, and win prizes.
        Additionally, the club welcomes leadership roles added to the officers that might oversee specific game or subject focuses to reach a certain crowd.
        For example, we have had Magic: The Gathering and Overwatch branches that serve members who have their own resources for these types of gaming.
    </p>

    <div style="margin: 0px 210px; border-bottom: 3px double goldenrod;"></div>

    <p style="margin: 30px 10px; font-size: 1.5vw; text-align: center;">
        Check out our other sections to see our resources, events, and current leading officers. Ask us what you can do to get involved!
        New leaders of the club are needed most every year and ideas for innovation are taken 24/7! 
    </p>

</div>


