@{
    ViewBag.Title = "Thomas College Gaming Club";
}
@section Styles {
    <link href="@Url.Content("~/Content/homePage.css")" rel="stylesheet" type="text/css" />
}

<div class="main-pictures">
    <div class="main-column main-left-column">
        <div>
           <!--- <img src="~/Images/commons-fireplace.jpg" /> -->
            <span class="picture-text">Our Usual Spot</span>
        </div>
    </div>

    <div class="main-column main-right-column">
        <div>
            <!---<img src="~/Images/commons-senate.jpg" /> -->
            <span class="picture-text">Our Meeting Spot</span>
        </div>
    </div>
</div>
<div class="main-content">



    </div>
