@{
    ViewBag.Title = "Thomas College Gaming Club";
}
@section Styles {
    <link href="@Url.Content("~/Content/homePage.css")" rel="stylesheet" type="text/css" />
}

<div class="main-content">

    <div class="main-pictures">
        <div class="column left-column">
            <div>
                <img id="fire-pic" src="~/Images/commons-fireplace.jpg" />
            </div>
        </div>

        <div class="column right-column">
            <div>
                <img src="~/Images/commons-senate.jpg" />
            </div>
        </div>
    </div>


</div>


