@{
    ViewBag.Title = "WiiGames";
}
@section Styles {
    <link href="@Url.Content("~/Content/Games.css")" rel="stylesheet" type="text/css" />
}

    <h2>All of Our Wii Games</h2>
<div class="accent-bar"></div>
