.submit-display {
    margin: 0 auto;
    padding: 5px;
    border: double;
    border-color: silver;
    border-radius: 5px;
    background-color: dimgray;
    width: 98%;
    height: 100%;
}

#submit-table {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}

#submit-table td {
    border: solid;
    border-radius: 5px;
    border-color: silver;
    color: white;
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
}

#submit-table th {
    height: 35px;
    max-width: 100px;
    border: double;
    border-color: whitesmoke;
    background-color: #505050;
    color: gold;
}
