/*This css document covers the individual console pages of listed games, the edit games view, and delete games view*/
.game-container {
    display: table;
    width: 98%;
    margin-top: 20px;
    margin-left: 20px;
}

.game-accent-bar {
    border-top: .30vw double firebrick;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}


.game-info {
    display: table-cell;
    width: 70%;
    max-width: 70%;
    float: right;
    margin-top: 3%;
    border-left: .35vw outset firebrick;
    border-radius: .3vw;
}

.game-info ul li{
    text-align: left;
    list-style: none;
    font-size: 2vw;
}
.game-info h3 {
    font-size: 2.3vw;
}

.game-img {
    display: table-cell;
    width: 20%;
    max-width: 20%;
    height: 20vw;
    float: left;
}

.game-img img {
    width: 100%;
    height: 100%;
    border: .3vw solid #ddd;
    border-radius: 3px;
}

#wiiu-games{
    border:none;
}
/*EDIT game view css items *******************************/

#edit-form{
    padding-left: 25px;
    margin-bottom: 25px;
}
.button {
    text-decoration: none;
    background-color: firebrick;
    border-radius: .3vw;
    color: gold;
    padding: 3px 10px;
}
/*Contains the Edit page's "Return" button*/
#button-container{
    padding-top: 20px;
}
#edit-img{
    margin-top: 5%;
}
/*DELETE view css items*/
#delete-return{
    margin-left: 20px;
}
#delete-button {
    font-size: 1.5vw;
    font-family: 'Noto Serif JP', Helvetica, Arial, sans-serif;
    margin-right: 20px;
}