
/*MAIN PAGE COLUMN ITEMS AND PICTURE TEXT*/

.main-pictures{
    display: table;
}

/*This is the column control scheme for the top pictures of the main page */
.left-pic {
    display: table-cell;
    width: 50%;
    max-width: 50%;
    float: left;
}

.right-pic{
    display: table-cell;
    width: 50%;
    max-width: 50%;
    float: right;
}

/*This is text on the main page pictures 
.picture-text{
	margin-left: 10px;
    margin-bottom: 100px;
	font-size: 16pt;
	font-family: 'Noto Serif JP', Helvetica, Cambria, sans-serif;
	color: goldenrod;
	text-shadow: 3px 3px 6px #666666;
}*/

