
/*MAIN PAGE COLUMN ITEMS AND PICTURE TEXT*/

.main-pictures{
    display: table;
}

/*This is the column control scheme for the top pictures of the main page */
.main-column {
	display: table-cell;
	width: 50%;
}

/*Left column for left most picture on main page*/
.main-left-column{
	/*.. brings up a folder*/
	background-image: url('../Images/commons-fireplace.jpg');
	/*Background was cropped to fill extra margin space*/
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
}

/*Right column for right most picture on main page */
.main-right-column {
    /*.. brings up a folder*/
    background-image: url('../Images/commons-senate.jpg');
    /*Background was cropped to fill extra margin space*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

/*This is text on the main page pictures */
.picture-text{
	margin-left: 10px;
	position: absolute;
	bottom: 175px;
	font-size: 16pt;
	font-family: 'Noto Serif JP', Helvetica, Cambria, sans-serif;
	color: goldenrod;
    /*Blur is set to 6 pixels wide*/
	text-shadow: 3px 3px 6px #666666;
}

