/*ALL NAVBAR CONTENT*/
/* The top navbar block is found on every page of the website*/
.navbar{
	font-family: 'Noto Serif JP';
	font-weight: bold;
	background-color: #505050;
	text-align: center;
	margin: 0;
	border-bottom: solid;
	border-bottom-color: goldenrod;
}

/*Inside our navibar is our ul elements */
.navbar ul li {
	/*changes list items from block elements to inline elements*/
	display: inline;
	font-size: 16pt;
	margin-left: 20px;
    margin-right: 20px;
}

/*For any navbars with ul list elements with anchors in the link state*/
.navbar ul li a:link{
	color: goldenrod;
	/* No underlines*/
	text-decoration: none;
}

/*For any navbars with ul list elements with anchors in the visited state*/
.navbar ul li a:visited{
	/*I dont like it changing colors for visited areas*/
	color: goldenrod;
	/* No underlines*/
	text-decoration: none;
}

/*For any navbars with ul list elements with anchors in the hover state*/
.navbar ul li a:hover{
	color: palegoldenrod;
	/* No underlines*/
	text-decoration: none;
	cursor: pointer;
}

/*For any navbars with ul list elements with anchors in the active state*/
.navbar ul li a:active{
	color: darkorange;
	/* No underlines*/
	text-decoration: none;
}

.navbar h1 {
    font-family: 'Noto Serif KR', Helvetica, Cambria, sans-serif;
    font-size: 36pt;
    color: firebrick;
    padding: 10px 20px;
    background-color: #303030;
    text-align: left;
    margin: 0;
}

.navbar h1 a {
    text-decoration: none;
    color: firebrick;
    cursor: pointer;
}

/*The footer of each page */
.footer-bar {
    background-color: #303030;
    width: 99.22%;
    font-style: italic;
    color: whitesmoke;
    text-align: center;
    clear: both; /*nothing to left AND right of this*/
    margin-top: 20px;
    padding: 5px;
    margin-bottom: 0px;
}

.footer-bar ul {
    background-color: #505050;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
}

.footer-bar ul li{
    display: inline;
    margin-left: 50px;
}

/*The footer link to Thomas website on each page */
.footer-bar a {
    color: goldenrod;
    text-decoration: none;
}

/*Put here for any page with an accent bar, no issues if there aren't. Accent bar is a specific named div element for the site*/
.accent-bar {
    background-color: firebrick;
    margin: 0;
    width: 100%;
    height: 1vw;
    border-bottom: double;
    border-top: double;
    border-color: gold;
}
